@{
    ViewBag.Title = "О One Piece";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>О One Piece</h2>


<div class="text">
    One Piece повествует о приключениях команды пиратов под названием «Пираты Соломенной шляпы» во главе с капитаном
    <div class="term">
        Манки Д. Луффи
        <div class="tooltip">
            Манки Д. Луффи по прозвищу «Соломенная шляпа» — главный герой манги и аниме «One Piece. Большой куш». Луффи является капитаном Пиратов Соломенной шляпы.
        </div>
    </div>, в детстве съевшим Дьявольский плод Резина-Резина, давший ему способность растягиваться, словно резина. Вместе со своей командой Луффи ищет легендарное сокровище, известное как «Ван-Пис», чтобы стать Королём <div class="term">пиратов<div class="tooltip">у него есть корабль!!!</div></div>.
</div>


<div style="float:left" class="text">
    <p style="font-weight:600; font-size:30px;background-color:rgba(0, 38, 255, 0.2)">Команда соломенной шляпы:</p>
    <ul>
        <li>
            <div class="term">
                М.Д. Луффи
                <div class="tooltip">
                    Манки Д Луффи - капитан команды. Есть два брата Эйс и Сабо.
                    <img src="~/Content/MDLuffy.png" style="float:right;" />
                </div>
            </div> @*Луффи*@
        </li>
        <li>
            <div class="term">
                Зоро
                <div class="tooltip">
                    Ророноа Зоро — пират, бывший охотник за головами и один из главных протагонистов One Piece.
                    <img src="~/Content/RZoro.jpg" style="float:left;max-width:300px;" />
                </div>
            </div> @*Зоро*@
        </li>
        <li>Санджи</li>
        <li>Нами</li>
        <li>Нико Робин</li>
        <li>Чоппер</li>
        <li>Френки</li>
        <li>Брук</li>
    </ul>
</div>

<img style="float:left" src="~/Content/team.jpg" />



