
@{
    ViewBag.Title = "Галерея";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Галерея</h2>
<div class="menu">
    <div class="spoiler">
        <a href="#" class="spoilerBtn">Фильтр</a>
        <div class="spoilerContent">
            <ul>
                <li><label>JPG<input type="checkbox" value=".jpg" checked /></label></li>
                <li><label>PNG<input type="checkbox" value=".png" checked /></label></li>
                <li><label>Другие<input type="checkbox" value="other" checked /></label></li>
            </ul>
        </div>
    </div>
    @*<br/>
    <label>JPG<input type="checkbox" value=".jpg" checked/></label>
    <label>PNG<input type="checkbox" value=".png" checked /></label>
    <label>Other<input type="checkbox" value="other" checked /></label>*@
</div>
<div class="pict">
  
</div>	

